<center>
<%= form_with(model: dummy_post) do |form| %>
<% if form.object.errors.any? %>
<% form.object.errors.full_messages.each do |message| %>
<div style="color: red">
<%= message%>
</div>
<%end%>
<% end %>
<div>
<h3><strong><%= form.label :title%>:</strong></h3>
<%= form.text_field :title%>
</div>
<br>
<div class="text-area">
<h3><strong><%= form.label :content%>:</strong></h3>
<%= form.rich_text_area :content %>
</div>
<br>
<div>
    <% if dummy_post.cover_image.present? %>
    <div id="<%= dom_id(dummy_post, :cover_image) %>">
    <h3><strong>Cover image:</strong></h3> 
    <br>
    <%= image_tag dummy_post.cover_image  %>
    <%= link_to "remove cover", dummy_post_cover_image_path(dummy_post),  data:{turbo_method: :delete, turbo_confirm: "you want to remove cover photo?"} %>
    </div>
    <% end %>
</div>
<div>
<h3><strong><%= form.label :cover_image%></strong></h3>
<%= form.file_field :cover_image%>
</div>
<br>
<div>
    <h3><strong><%= form.label :published_at %></strong></h3>
    <%= form.datetime_select :published_at, include_blank: true %>
</div>
<br>

<%= form.submit class:"btn btn-primary" %>

<% end %>
</center>

<style>
    .text-area{
        width:50%;
    }
   
    </style>