<%= form_with(model: dummy_post) do |form| %>
<% if form.object.errors.any? %>
<% form.object.errors.full_messages.each do |message| %>
<div style="color: red">
<%= message%>
</div>
<%end%>
<% end %>
<div>
<strong><%= form.label :title%>:</strong>
<%= form.text_field :title%>
</div>
<div>
<strong><%= form.label :content%>:</strong>
<%= form.rich_text_area :content %>
</div>
<div>
    <% if dummy_post.cover_image.present? %>
    <div id="<%= dom_id(dummy_post, :cover_image) %>">
    <p style="width: 150px"><strong>Cover image:</strong> <%= image_tag dummy_post.cover_image  %>  </p> 
    <%= link_to "remove cover", dummy_post_cover_image_path(dummy_post),  data:{turbo_method: :delete, turbo_confirm: "you want to remove cover photo?"} %>
    </div>
    <% end %>
</div>
<div>
<%= form.label :cover_image%>
<%= form.file_field :cover_image%>
</div>
<div>
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, include_blank: true %>
</div>
<br>
<div id="submit-btn" class="style_index" style="width:36%">
<%= form.submit %>
</div>
<% end %>