
<div id="nav-content">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(80, 122, 230)">
  <div class="container-fluid" style="height:70px;">
     
       <h3><strong><%= button_to "sign out", destroy_user_session_path, method: :delete, class:"btn btn-danger" %></strong></h3>
      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to "New Blog Post", new_dummy_post_path, class:"btn btn-primary nav-link active", id:"new_blog", aria_current: "page"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "Draft", dummy_posts_path(status: "draft"),class: "dropdown-item" %></li>
            <li><%= link_to "Published", dummy_posts_path(status: "published"),class: "dropdown-item" %></li>
            <li><%= link_to "Scheduled", dummy_posts_path(status: "scheduled"),class: "dropdown-item" %></li>
            <li><%= link_to "All", dummy_posts_path, class:"dropdown-item" %></li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
<div>
  <h1 style="margin-left:490px;">Blog Posts</h1><br>
  <div class="index-posts">
    <% @dummy_posts.each do |post|%>
      <div class="posts">
        <% if post.draft? %>
          <h3 class="draft">Draft:</h3><br><br>
        <% elsif post.scheduled? %>
          <h3 class="scheduled">Scheduled:</h3><br><br>
        <% else %>
          <h3 class="published">Published:</h3><br><br>
        <% end %>
        <div class="post-items" style=" word-wrap: break-word;">
        <h1><%= link_to post.title, post, class:"post_title" %></h1><br>
        </div>
        <br>
      </div>
    <%end%>
  </div>

</div>
<% if @pagy.count > @pagy.items %>
    <div class="pagy" style="margin-left:450px" >
        <%== pagy_bootstrap_nav(@pagy).html_safe if @pagy.pages > 1  %>
    </div>
<% end %>
<% if user_signed_in? %> 
<%= %> 
<% else %> 
<br>


<%end%>
</div>

<style>

    .draft{
    background-color: rgb(195, 194, 194);
    width: 50%;
    text-align: center;
    color: rgb(88, 86, 86);
}

.scheduled{
    background-color: rgb(140, 217, 228);
    width: 80%;
    text-align: center; 
    color: rgb(88, 86, 86);
}
.published{
    background-color: rgb(158, 228, 140);
    width: 88%;
    text-align: center;
    color: rgb(88, 86, 86);
}
    #nav-content{
        margin-top:-65px;
        width: 98vw;
    }
    
    .nav-item, li{
        list-style-type:none;
    }
    .nav-link,.dropdown-item{
        text-decoration:none;
        margin-left:20px;
    }
    #new_blog, #navbarDropdown{
        background-color:rgb(132, 159, 209);
        border-radius:5px;
        color:black;
        font-weight:bold;
    }
    #new_blog:hover{
         background-color:rgb(145, 186, 219);
        border-radius:10px;
        color:black;
    }
    #navbarDropdown:hover{
         background-color:rgb(145, 186, 219);
        border-radius:10px;
        color:black;
    }
    .nav-link:hover{
        background-color:rgb(147, 216, 230);
        border-radius:15px
    }
    .index-posts{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    column-gap: 217px;
   
    /* width: 1vw; */
}
.posts{
  width:20%;
}
.post_title{
  text-decoration: none;
  color:black;
}
.post-items {
  margin: 10px; /* Example margin */
  border: 1px solid #ccc; /* Example border */
  padding: 30px;
  background:url("https://e0.pxfuel.com/wallpapers/994/462/desktop-wallpaper-abstract-blue-multicolor-and-mobile-background-multicolour-thumbnail.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
body{
  background-image:url("https://img.freepik.com/free-vector/blue-fluid-background_53876-114597.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
}
    </style>
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

</script>