<div class="style_content">
<h1>Title: <%= @dummy_post.title %></h1>
<p><strong>Content:</strong> <%= @dummy_post.content.body.to_s %></p> 
 <% if @dummy_post.cover_image.present? %>
<p><strong>Cover image:</strong> <%= image_tag @dummy_post.cover_image %>  </p> 
<% end %>
<%= link_to "edit", edit_dummy_post_path(@dummy_post), class:"style_index" %>
<br>
<%= link_to "Home Page", dummy_posts_path , class:"style_index", data:{disable_with:"<i class='fas fa-cog fa-spin'></i>wait.."}%>

<div>
    <strong>Published at: </strong><span id="published-at"><%= @dummy_post.published_at %></span>
    <div><%= button_to "Publish", publish_dummy_post_path(@dummy_post), method: :patch, remote: true , id:"publish-btn",class:"style_index", data:{disable_with:"<i class='fas fa-cog fa-spin'></i>wait.."}%></div>
</div>

<div>
    <% if user_signed_in? %>
    <div>
        <strong>Comments: </strong>
        <br>
        <br>
        <div>
            <%= render @dummy_post.feedbacks.where(parent_id: nil).order(updated_at: :desc) %>
        </div>
    </div>
    <%= form_with model:[@dummy_post, Feedback.new] do |form|  %>
    <%= form.text_area :content %>
    <div class="style_index" style="margin-bottom: 40px; width:31% ">
    <%= form.submit %>
    </div> 
    <% end %>
    <% end %>

</div>

<script>
    $("#publish-btn").on("click", function(){
        Swal.fire({
  title: "Sweet!",
  text: "Blog Post is Published",
  imageUrl: "https://unsplash.it/400/200",
  imageWidth: 400,
  imageHeight: 200,
  imageAlt: "Custom image"
});
    })
</script>