<!DOCTYPE html>
<html>
  <head>
    <title>BlogPost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= javascript_include_tag 'jquery.min' %>
<%= javascript_include_tag 'jquery_ujs' %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="...">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext",  "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose">
    <p class="notice style_content", style="color: green"><%= notice %></p>
       <p class="alert style_content", style="color: red"><%= alert %></p>

       <% if user_signed_in? %> 
       <%= link_to "New Blog Post", new_dummy_post_path, class:"style_index" %>
       <br><br>
       <%= button_to "sign out", destroy_user_session_path, method: :delete,class:"style_index", id: "signout-btn" %>
       <% end %>
    <%= yield %>
  </body>

</html>
<script>
    $("#signout-btn").on("click", function(){
        Swal.fire("You are logged out!");
    })
</script>
